@model ErpSystem.Frontend.Core.Models.UnitsOfMeasure.UnitOfMeasureEditModel

@{
    ViewData["Title"] = "Създаване на мерна единица";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h2>Създаване на мерна единица</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Име</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
                            <button type="submit" class="btn btn-primary">Създай</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 